<h2>{{title}}</h2>
<div class="form-group">
    <label for="descricao" class="control-label">descricao</label>
    <input class="form-control" type="text" [(ngModel)]="entity.descricao">
</div>
<div class="form-group">
    <label for="descricao" class="control-label">Categoria</label>
    <input type="text" class="form-control" [(ngModel)]="categoria" [inputFormatter]="inputFormatter" [resultFormatter]="resultFormatter"
        [ngbTypeahead]="findTerm" placeholder="Escolha categoria" />
    <p>termo / selecionado: {{categoria | json}}</p>
</div>
<button class="btn btn-primary" (click)="create()">create</button>